* {
	margin: 0;
	padding: 0;
}
body {
 background-color: #fff;
}
.menu-container {
  display: block;
  position: relative;
  width: 300px;
  background-color: #f3f0ef;
  margin: 5% auto 0;
  padding: 0;
  border-radius:5px;
  box-shadow:  inset 0 0 1px rgba(255,255,255,1);
  box-shadow:  5px 5px 15px 1px rgba(0,0,0,0.1);
}
.nav {
  background-color: cornflowerblue;
  height:40px;
  border-radius:5px 5px 0 0;
}
.comprar {
  text-indent:-255px;
  height:20px;
  float:right;
  width:20px;
  margin:9px;
  font-family: arial;
  color: white;
  font-style: bold;
}
.menu ul {
  list-style:none;
}
.menu ul li {
  border-top:1px solid rgba(0,0,0,0.1);
  box-shadow:inset 0 1px 1px #fff;
  text-indent:10px;
  padding:9px 9px;
  font-size:12px;
  color:#a4a3a3;
  font-family: 'Strait', sans-serif;  font-size: 14px;  text-decoration: none;  text-shadow: 1px 1px 1px #fff;
}
.menu ul li:hover {
  border-left:3px solid gray;
  background-color:rgba(0,0,0,0.02);
}
